{% extends "default.html" %}
{% block title %}{{ book.title }}: Сохранения{% endblock %}
{% block body %}
  <div class="single-column">
    <h1><a href="{% url 'book' page.book.id %}">{{ page.book.title }} ({{ page.title }})</a>: Сохранения</h1>
    <a href="{% url 'save_new' page.book.id %}">[Новое сохранение]</a>
    <ul>
      {% for save in saves %}
        <li>
          <a href="{% url 'delete_save' page.book.id save.id %}">[Удалить]</a>
          <a href="{% url 'load_from'   page.book.id save.id %}">[Загрузить]</a>
          <a href="{% url 'save_to'     page.book.id save.id %}">[Заменить]</a>
          [{{ save.updated_at|date:"Y.m.d H:i:s" }}] {{ save.book_page.title }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
